{% load static %} 

<nav id="main-nav">
  <a href="{% url 'index' %}">
    <img src="{% static 'img/logo.png' %}" class="logo" alt="Home">
  </a>
  <ul>
    {% if user.is_authenticated %}

    <li>
      <a 
      {% if 'dashboard' in request.path %}
        class="current"
      {% endif %}
      href="{% url 'dashboard' %}"> {{user.username}} (Dashboard)</a>
    </li>
    
    <li>
      <a href="javascript:{document.getElementById('logout').submit()}" id="logout-btn">Logout</a>
      <form action="{% url 'logout' %}" id="logout" method="POST">
        {% csrf_token %}
        <input type="hidden">
      </form>
    </li>

    {% else %}

      <li>
        <a 
        {% if '/' == request.path %}
          class="current"
        {% endif %}
        href="{% url 'index' %}">Home</a>
      </li>

      <li>
        <a 
        {% if 'about' in request.path %}
          class="current"
        {% endif %}
        href="{% url 'about' %}">About</a>
      </li>

      <li>
        <a 
        {% if 'register' in request.path %}
          class="current"
        {% endif %}
        href="{% url 'register' %}">Register</a>
      </li>

      <li>
        <a 
        {% if 'login' in request.path %}
          class="current"
        {% endif %}
        href="{% url 'login' %}">Login</a>
      </li>

    {% endif %}
    
  </ul>
</nav>
